<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
    integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:wght@900&display=swap"
      rel="stylesheet">
      <link rel="icon" href="images/fevi.ico" style="color: blue;" type="image/x-icon">
      <link rel="stylesheet" href="stylesheets/style.css">
  <title>Portfolio Abhi.dev</title>
</head>
<body>
    <div id="flex-container">
      <div class="cursour"></div>
        <div class="v-line"></div>
          <div class="circle"></div>
          <div class="mouse-scroll">
          <i id="mouse" class="ri-mouse-line"></i>
          <h5 id="scroll">SCROLL</h5>
          </div>
            <div class="arrow-scroller">
              <i id="down-arrow" class="ri-arrow-down-line"></i>
            </div>
            <div class="intro">
        <img src="images/bg.webp" alt="image" srcset="" draggable="false">
        <div class="navbar">
          <div class="left"><span class="color">&#60;</span id ="hover">${ABHI0}<span class="color">/></span></div>
          <div class="right">
            <i onclick="toggleLinks" class="ri-menu-line"></i>
            <div class="links-container" id="linksContainer">
            <ul>
              <li class="right-nav"><a class="anime" href="#Start">Start/></a></li>
              <li class="right-nav"><a class="anime" href="#Work">Work/></a></li>
              <li class="right-nav"><a class="anime" href="#lab">Lab/></a></li>
              <li class="right-nav"><a class="anime" href="#about">About/></a></li>
              <li class="right-nav"><a class="anime" href="#contact">Contact/></a></li>
            </ul>
            </div>
          </div>

          <div class="intro-text">

              <h3 id="text-one">Start/> </h3>
              <h1 id="self"> Hi, my name is <span class="text-bold">Abhishek Verma</span> </h1>
              <p class="paragraph">"I am a <span class="highlighter"><em>Software developer</em></span> who loves to code and design."</p> 
              <p class="thought">Let me show you ...</p>
            </div>
        </div>
      </div>
      <div class="projects">
      <div class="project-one">
        <img src="/images/project-one.png">
        <div class="overlayDiv-one">
          <h2 id="p1-text" class="underline">Sample <br> Portfolio</h2>
          <p id="p1-text"> 01 </p>
          <i class="ri-arrow-right-line" id="p1-text"></i>
        </div>
      </div> 
        <div class="project-two">
          <img src="/images/project-two.png">
          <div class="overlayDiv-two">
            <h2 id="p1-text" class="underline">Instagram <br> Profile</h2>
          <p id="p1-text"> 02 </p>
          <i class="ri-arrow-right-line" id="p1-text"></i>
          </div>
        </div>
        <div class="project-three">
          <img src="images/project-three.jpeg">
          <div class="overlayDiv-three">
            <h2 id="p1-text" class="underline">Url <br> Shortner</h2>
          <p id="p1-text"> 03 </p>
          <i class="ri-arrow-right-line" id="p1-text"></i>
          </div>
        </div>
        <div class="stocks"></div>

        <div class="circle2"></div>
          <div class="work">
            <h3 class="heading-two">Work/></h3> 
            <h2 class="des">Selected web, video project</h2>
          </div>
        <div class="web">
          <h1 class="web-style">WEB</h1>
        </div>
      </div>
      <div class="video">
        <div class="stock-market">
          <img src="images/ecommerec.png" alt="" srcset="">
          <div class="overlayDiv-four">
            <h2 id="p1-text" class="underline"> Ecommerece<br> Bazar</h2>
          <p id="p1-text"> 04 </p>
          <i class="ri-arrow-right-line" id="p1-text"></i>
          </div>
        </div>
        <div class="chatApp"><img src="images/pass-generator.png">
          <div class="overlayDiv-four">
            <h2 id="p1-text" class="underline"> Pass<br> Generator</h2>
          <p id="p1-text"> 05 </p>
          <i class="ri-arrow-right-line" id="p1-text"></i>
          </div></div>
        
        <div class="qr-generator">
          <img src="images/qr-code.jpeg" alt="" srcset="">
          <div class="overlayDiv-four">
            <h2 id="p1-text" class="underline">QR <br> Generator</h2>
          <p id="p1-text"> 06 </p>
          <i class="ri-arrow-right-line" id="p1-text"></i>
          </div>
        </div>
      </div>
      <div class="lab">
        <h2 id="v-content">What I Know/></h2>
            <div class="video-content">
              <div class="frontend">
                <h2 id="tech-font">Frontend</h2>
                <div class="html"><img src="images/html.png" alt="" ></div>
                <div class="css"><img src="images/css.png" alt="" ></div>
                <div class="javascript"><img src="images/js.png" alt="" ></div>
                <div class="reactjs"><img src="images/react.png" alt="" ></div>
              </div>
              <div class="backend">
                <h2 id="tech-font">Backend</h2>
                <div class="nodejs"><div class="node-shift"><img src="images/node.png"></div></div>
                <div class="express"><div class="express-shift"><img src="images/express.png"></div></div>
                <div class="locomotivejs"><div class="locomotivejs-shift"><img src="images/api.png"></div></div>
              </div>
              <div class="database">
                <h2 id="tech-font">Database</h2>
                <div class="mongoose"><div class="shift"><img src="images/mongo.png"></div></div>
                <div class="sql"><div class="shiftt"><img src="images/sql.png"></div></div>
              </div>

              <!-- <video autoplay muted >
                <source src="images/bg-video.mp4" type="">
              </video> -->
            </div>
      </div>
      <div class="intro-code">
        <div class="numbers" id="number"></div>
        <div class="cicrle5"></div>
        <h3 class="heading-three">About/></h3>
        <div class="intro-code-content">
            <pre id="editor-text">
              
                <code>
              ... <span class="class-one">class</span> <span class="heading-color">Abhishek Verma</span> <span class="bracket-color">{</span>
              .... <span class="comment-color" > // I Can, because I did.
                  // My vast variety of skills is continously expanding. </span>

                 <span class="class-one" >constructor</span><span class="bracket-color">() {</span></span>
                    <span class="this-color">this</span>. <span class="green-color" >name <span class="this-color">=</span> 'Abhishek Verma'</span>
                    <span class="this-color">this</span>.<span class="green-color" >dayOfBirth </span> <span class="this-color">=</span> <span class="dob-color"> '17/08/2001'</span>
                    <span class="this-color">this</span>.<span class="green-color" >email <span class="this-color">=</span> 'vermabhishek327@gmail.com'</span>
                  <span class="bracket-color">}</span>
                  <span class="heading-color">workExperience</span> <span class="bracket-color">() {</span>
                   <span class="class-one">return</span> <span class="bracket-color">[</span>
                    <span class="green-color" >
                      <span class="bracket-color"> {</span>'10/2023-11/2023' : 'Intern at Coders Cave as a Full Stack Web Devleoper ("Virtual")' <span class="bracket-color"> } </span>
                      <span class="bracket-color"> {</span>'08/2022-11/2022' : 'Intern at Align Together Private Limited as a Frontend developer' <span class="bracket-color"> } </span></span>
                    <span class="bracket-color">]</span>
                  <span class="bracket-color"> } </span>
                  <span class="heading-color">education</span><span class="bracket-color">() {</span>
                    <span class="class-one">return </span> <span class="bracket-color">[</span>
                    <span class="green-color" >
                      <span class="bracket-color"> { </span>'2020-2024' : 'Oriental Group of Institutes - Bachelor Of Technology (Computer Science specialized Cyber Security)' <span class="bracket-color"> } </span>
                      <span class="bracket-color"> { </span>'2020' : 'Anant Utsav School Simarai Bhopal - Senior Higher Secondary (PCM with Web Application)' <span class="bracket-color"> } </span> 
                      <span class="bracket-color"> { </span>'2018' : 'Anant Utsav School Simarai Bhopal - Higher Secondary'<span class="bracket-color"> } </span></span>
                    <span class="bracket-color">]</span>
                  <span class="bracket-color">}</span>
                  <span class="heading-color">skills </span><span class="bracket-color">() {</span>
                  <span class="class-one">return</span> <span class="green-color" > <span class="bracket-color">[</span>'HTML', 'CSS','JavaScript', 'ReactJS', 'NodeJs', 'Oops', 'Java', 'Express.js', 'locomotive.js', MongoDB, 'Web Sockets', 'Web Scraping','Npm/yarn',
                    'User Interface, 'User Experience', 'Wordpress','Tailwindcss' <span class="bracket-color">    ]</span> </span>
                  <span class="bracket-color">}</span>
                <span class="bracket-color">}</span>
              </code>
              
            </pre>
            <div class="blinking-cursor"></div>
        </div>
      </div>
      <div class="getin-touch">
        <div class="about-me">
          <div class="contact-from">
            <form id="contactForm">
              <label for="Name">Name:</label>
              <input type="text" id="nameInput" placeholder="Your Name" name="name" required>
              
              <label for="email">Email Address:</label>
              <input type="email" id="emailInput" placeholder="Your Email" name="email" required>
                <br>
                <br>
              <label for="message">Message:</label>
              <textarea id="messageInput" placeholder="Eneter your message here..." name="message" required></textarea>
            </form>
            <div id="sendButton">Hire Me </div>
          </div>
          <div class="resume">
            <div class="github-icon"><div class="logo-one"><a href="https://github.com/BrokenAbhi"><i class="ri-github-fill"></i></a></div><h2 id="github-link">github.com/BrokenAbhi</h2></div>
            <div class="instagram-icon"><div class="logo-two"><a href="https://www.instagram.com/undefined__abhi/"><i class="ri-instagram-fill"></i></a></div><h2 id="instagram-link">instagram.com/undefined__abhi</h2></div>
            <div class="medium-icon"><div class="logo-three"><a href="https://medium.com/@abhishekverma327"><i class="ri-medium-fill"></i></a></div><h2 id="medium-link">medium.com/@abhishekverma327</h2></div>
            <div class="linked-icon"><div class="logo-four"><a href="https://www.linkedin.com/in/abhi-developer/"><i class="ri-linkedin-box-fill"></i></a></div><h2 id="linked-link">linkedin.com/in/abhi-developer</h2></div>
            <div class="gmail-icon"><div class="logo-five"><a href="https://mail.google.com/mail/u/1/#inbox?compose=new"><i class="ri-mail-fill"></i></a></div><h2 id="gmail-link">vermabhishek327@gmail.com</h2></div>
          </div>
        </div>
        <div class="last-circle"></div>
        <h3 id="heading-last">Contact/></h3>
      </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
    <script type="text/javascript"src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <script src="https://unpkg.com/gsap@3.8.0/dist/gsap.min.js"></script>
<script src="https://unpkg.com/scrolltrigger-gsap@3.8.0/dist/ScrollTrigger.min.js"></script>

    <script src="javascripts/scirpt.js"></script>

</body>
</html>