<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Larger</title>
  <link rel="stylesheet" href="/stylesheets/SecretKeeper.css">
</head>
<body>
  <div class="container">
    <!-- <img src="images/project-two.png" alt="" srcset=""> -->
  <h1>Get Your Profile Larger</h1>
  <form id="scrapeForm">
    <label for="profileLink"></label>
    <input type="text" id="profileLink" name="profileLink" placeholder="Enter your Instagram profile link here" required>
    <button type="button" onclick="scrapeProfile()">Scrape</button>
  </form>
  <div id="result"></div>
  </div>

  <script src="/javascripts/SecretKeeper.js"></script>
</body>
</html>
