<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css"
        integrity="sha512-HXXR0l2yMwHDrDyxJbrMD9eLvPe3z3qL3PPeozNTsiHJEENxx8DH2CxmV05iwG0dwoz5n4gQZQyYLUNt1Wdgfg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="stylesheets/urlShortner.css">
    <link rel="shortcut icon" href="images/apple-touch-icon.png" type="image/x-icon">
    <title>Url Shortner</title>
</head>
<body>
    <div class="container">
        <img src="images/url-bg.jpg" alt="" srcset="">
        <div class="nav">
            <div class="left">${ABHI}</div>
            <div class="right"><a href="">Contact Developer</a></div>
        </div>
        <div class="center-data">
            <img src="images/p3-bg.jpg">
            <div class="text">
                <h2 id="heading">URL Shortner</h2>
                <h3 id="description" >Paste YOur untidy link to shorten it</h3>
                <p id="slogan">free tool to shorten URL or reduce a Link. Use our URL Shortner to create a <br>
                    shortend & neat link making it easy to remember
                </p>
                    <br>
                        <input type="text" id="urlInput" placeholder="Enter your URL here">
                        <button onclick="shortenUrl()">Shorten</button>
                        <!-- <p id="shortUrl"></p> -->
                        <p id="shortUrlDispaly"> Short Url: <span id="shortUrl"></span> <i id="copyIcon" class="ri-file-copy-fill"
                                onclick="copyShortUrl"></i></p>
            </div>
        </div>
 
    </div>
    <script src="javascripts/urlShortner.js"></script>
</body>
</html>















