<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.6.0/remixicon.css"
      integrity="sha512-GL7EM8Lf8kU23I3kTio2kRWt8YRDVIQcSZjRVtVRfk05kB/QvkyafuTC94Ev0X6qk7Z0r5s06c1lsP1p/ezDYw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" href="images/luxuary.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/stocks.css" />
    <title>Buy Luxury</title>
  </head>
  <body>
    <div class="container">
      <div class="design">
        <div class="left">
          <h1>Welcome to Bazar</h1>
          <a id="bt1" href="/login">Login</a>
          <a id="bt2" href="/register">Register</a>
          <div class="icons">
            <div class="icon1"><i class="ri-google-fill"></i></div>
            <div class="icon2"><i class="ri-facebook-fill"></i></div>
            <div class="icon3"><i class="ri-github-fill"></i></div>
            <div class="icon4"><i class="ri-linkedin-box-fill"></i></div>
          </div>
        </div>
        <div class="right">
          <h2>Hello, Friend!</h2>
          <p>Register with your personal details to use all of site features</p>
          <a id="guest" href="/dashboard">Login as Guest</a>
        </div>
      </div>
    </div>

    <!-- <h1>Welcome to Ecommerce website</h1>
        <a href="/login">Login</a>
        <a href="/register">Register</a> -->
    <!-- <div class="container" id="app"></div> -->

    <script src="javascripts/stock-market.js"></script>
  </body>
</html>
