/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -o-radial-gradient(circle, rgba(6, 22, 58, 0.8) -5%, #06163a 40%);
  background: radial-gradient(circle, rgba(6, 22, 58, 0.8) -5%, #06163a 40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  background-color: #fff;
}

textarea{
    background-color: #ffffff;
}

.wrapper {
  position: absolute;
  width: 50%;
  height: 50%;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container #bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  top: 0;
  color: #ffffff;
  font-size: medium;
  padding: 10px;
}

#qrcode {
  position: relative;
}

#content {
  margin-top: 20px;
    border: none;
    outline: none;
  width: 65%;
  height: 16%;
  background-color: transparent;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.6rem;
  border-radius: 3px;
  resize: none;
  padding: 10px;
}

::placeholder{
    color: #fff;
}

::-webkit-input-placeholder {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  font-style: italic;
  opacity: 0.5;
}

::-moz-placeholder {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-style: italic;
  opacity: 0.5;
}

:-ms-input-placeholder {
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  font-style: italic;
  opacity: 0.5;
}

::-ms-input-placeholder {
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  font-style: italic;
  opacity: 0.5;
}

::placeholder {
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  font-style: italic;
  opacity: 0.5;
}

a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: -o-radial-gradient(
    100% 0,
    100% 100%,
    #5adaff 0,
    #5468ff 100%
  );
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #06163a;
  cursor: pointer;
  font-family: "JetBrains Mono", monospace;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  
  position: relative;
  text-align: left;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  transition: -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  -o-transition: box-shadow 0.15s, transform 0.15s;
  transition: box-shadow 0.15s, transform 0.15s;
  transition: box-shadow 0.15s, transform 0.15s, -webkit-box-shadow 0.15s,
    -webkit-transform 0.15s;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  bottom: 10px;
  left: 5px;
}

button:focus {
  -webkit-box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

button:active {
  -webkit-box-shadow: #3c4fe0 0 3px 7px inset;
  box-shadow: #3c4fe0 0 3px 7px inset;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

#content {
  z-index: 1;
}

a {
  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: -o-radial-gradient(
    100% 0,
    100% 100%,
    #5adaff 0,
    #5468ff 100%
  );
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "JetBrains Mono", monospace;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  transition: -webkit-box-shadow 0.15s, -webkit-transform 0.15s;
  -o-transition: box-shadow 0.15s, transform 0.15s;
  transition: box-shadow 0.15s, transform 0.15s;
  transition: box-shadow 0.15s, transform 0.15s, -webkit-box-shadow 0.15s,
    -webkit-transform 0.15s;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 20px;
}

button:focus {
  -webkit-box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  -webkit-box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  transform: translateY(-2px);
}

button:active {
  -webkit-box-shadow: #3c4fe0 0 3px 7px inset;
  box-shadow: #3c4fe0 0 3px 7px inset;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}

button:hover {
  background: #f8f8ff;
  -webkit-box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  button {
    padding: 24px;
  }
}
